textarea {
    min-height: 400px;
}

.mail-border {
    border: solid 1px;
    padding: 10px;
    font-size: larger;
    display:flex;
    align-items: center;

}
.mail-header{
    display: flex;
    flex: 1;
   
}

li {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
   
}

.sender{
    font-weight: bold;
    width: 250px;
    padding-right: 10px;
 
   
}

.subject{
    font-family: Arial, Helvetica, sans-serif;
    width: 630px;
}

.time{
    text-align: right;
    color: gray;
    text-align: right;
   
}

.read-email {
background-color: lightgrey;
}

.unread-email{
    background-color: white;
}

#meta-data{
   padding-bottom: 0.25rem;

}
.title{
    font-size: 18px;
    font-weight: bold;
}

